*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
   height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.box h1{
    margin: 30px;
}
.counter_box{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#add_btn, #minus_btn, #reset_btn{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: greenyellow;
    color: white;
    margin: 20px;
    border: none;
    cursor: pointer;
}
#reset_btn{
    font-size: 20px;
}
#cournter_value{
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: cyan;
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

